<div class="modelselect">
    <div class="inputitem">
        <input type="radio" id="35000" name="model" value="35000" />
        <label for="35000">ChatGLM3 Checkpoint-500</label>
    </div>
    <div class="inputitem">
        <input type="radio" id="31000" name="model" value="31000" />
        <label for="31000">ChatGLM3 Checkpoint-1000</label>
    </div>
    <div class="inputitem">
        <input type="radio" id="31500" name="model" value="31500" />
        <label for="31500">ChatGLM3 Checkpoint-1500</label>
    </div>
    <div class="inputitem">
        <input type="radio" id="32000" name="model" value="32000" />
        <label for="32000">ChatGLM3 Checkpoint-2000</label>
    </div>
</div>
</div>