<div class="modelselect">
                <input type="radio" id="2500" name="model" value="2500" />
                <label for="2500">ChatGLM Checkpoint-500</label>
                <input type="radio" id="21000" name="model" value="21000" />
                <label for="21000">ChatGLM Checkpoint-2000</label>
                <input type="radio" id="21500" name="model" value="21500" />
                <label for="21500">ChatGLM Checkpoint-2500</label>
                <input type="radio" id="22000" name="model" value="22000" />
                <label for="22000">ChatGLM Checkpoint-2000</label>
                <input type="radio" id="22500" name="model" value="22500" />
                <label for="22500">ChatGLM Checkpoint-2500</label>
                <input type="radio" id="23000" name="model" value="23000" />
                <label for="23000">ChatGLM Checkpoint-3000</label>
            </div>